PORT=
JWT_SECRET=
JWT_EXPIRES_IN=
BASE_URL=
FRONTEND_URL=
MONGODB_URI=
RESEND_API_KEY=
RESET_PASSWORD_EXPIRES_IN=
GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
EMAIL_FROM=
SENTRY_DSN=
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
LOG_LEVEL=
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
